EXAMEN/AppOrdenesCompra/Web References/RefProovedores/SWProovedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionarProovedores">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarProovedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarProovedoresResult" type="tns:ArrayOfProveedores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProveedores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Proveedores" nillable="true" type="tns:Proveedores" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Proveedores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProvID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvNombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SeleccionarProovedoresPorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarProovedoresPorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarProovedoresPorIDResult" type="tns:Proveedores" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarProovedoresSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarProovedores" />
  </wsdl:message>
  <wsdl:message name="SeleccionarProovedoresSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarProovedoresResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarProovedoresPorIDSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarProovedoresPorID" />
  </wsdl:message>
  <wsdl:message name="SeleccionarProovedoresPorIDSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarProovedoresPorIDResponse" />
  </wsdl:message>
  <wsdl:portType name="SWProovedoresSoap">
    <wsdl:operation name="SeleccionarProovedores">
      <wsdl:input message="tns:SeleccionarProovedoresSoapIn" />
      <wsdl:output message="tns:SeleccionarProovedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarProovedoresPorID">
      <wsdl:input message="tns:SeleccionarProovedoresPorIDSoapIn" />
      <wsdl:output message="tns:SeleccionarProovedoresPorIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SWProovedoresSoap" type="tns:SWProovedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarProovedores">
      <soap:operation soapAction="http://tempuri.org/SeleccionarProovedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarProovedoresPorID">
      <soap:operation soapAction="http://tempuri.org/SeleccionarProovedoresPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWProovedoresSoap12" type="tns:SWProovedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarProovedores">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarProovedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarProovedoresPorID">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarProovedoresPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWProovedores">
    <wsdl:port name="SWProovedoresSoap" binding="tns:SWProovedoresSoap">
      <soap:address location="https://localhost:44375/SWProovedores.asmx" />
    </wsdl:port>
    <wsdl:port name="SWProovedoresSoap12" binding="tns:SWProovedoresSoap12">
      <soap12:address location="https://localhost:44375/SWProovedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>