EXAMEN/AppOrdenesCompra/Web References/RefArticulos/SWArticulos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionarAritculos">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarAritculosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarAritculosResult" type="tns:ArrayOfArticulos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArticulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Articulos" nillable="true" type="tns:Articulos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Articulos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ArtID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArtDescrip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SeleccionarArticuloPorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarArticuloPorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarArticuloPorIDResult" type="tns:Articulos" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarAritculosSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarAritculos" />
  </wsdl:message>
  <wsdl:message name="SeleccionarAritculosSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarAritculosResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarArticuloPorIDSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarArticuloPorID" />
  </wsdl:message>
  <wsdl:message name="SeleccionarArticuloPorIDSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarArticuloPorIDResponse" />
  </wsdl:message>
  <wsdl:portType name="SWArticulosSoap">
    <wsdl:operation name="SeleccionarAritculos">
      <wsdl:input message="tns:SeleccionarAritculosSoapIn" />
      <wsdl:output message="tns:SeleccionarAritculosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarArticuloPorID">
      <wsdl:input message="tns:SeleccionarArticuloPorIDSoapIn" />
      <wsdl:output message="tns:SeleccionarArticuloPorIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SWArticulosSoap" type="tns:SWArticulosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarAritculos">
      <soap:operation soapAction="http://tempuri.org/SeleccionarAritculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarArticuloPorID">
      <soap:operation soapAction="http://tempuri.org/SeleccionarArticuloPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWArticulosSoap12" type="tns:SWArticulosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarAritculos">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarAritculos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarArticuloPorID">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarArticuloPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWArticulos">
    <wsdl:port name="SWArticulosSoap" binding="tns:SWArticulosSoap">
      <soap:address location="https://localhost:44339/SWArticulos.asmx" />
    </wsdl:port>
    <wsdl:port name="SWArticulosSoap12" binding="tns:SWArticulosSoap12">
      <soap12:address location="https://localhost:44339/SWArticulos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>