Unidad-4-PM/FrontBus/Front_Bus/Web References/WebService_AutosEC/SWAutosEC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionarAutosChev">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarAutosChevResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarAutosChevResult" type="tns:ArrayOfDTOAutosEcuador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTOAutosEcuador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTOAutosEcuador" nillable="true" type="tns:DTOAutosEcuador" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTOAutosEcuador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Marca_autosEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo_autosEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo_autosEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color_autosEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Anio_autosEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cons_autosEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="img_autosEC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SeleccionarAutosEcuadorPorTipo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarAutosEcuadorPorTipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarAutosEcuadorPorTipoResult" type="tns:ArrayOfDTOAutosEcuador" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarAutosChevSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarAutosChev" />
  </wsdl:message>
  <wsdl:message name="SeleccionarAutosChevSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarAutosChevResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarAutosEcuadorPorTipoSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarAutosEcuadorPorTipo" />
  </wsdl:message>
  <wsdl:message name="SeleccionarAutosEcuadorPorTipoSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarAutosEcuadorPorTipoResponse" />
  </wsdl:message>
  <wsdl:portType name="SWAutosECSoap">
    <wsdl:operation name="SeleccionarAutosChev">
      <wsdl:input message="tns:SeleccionarAutosChevSoapIn" />
      <wsdl:output message="tns:SeleccionarAutosChevSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarAutosEcuadorPorTipo">
      <wsdl:input message="tns:SeleccionarAutosEcuadorPorTipoSoapIn" />
      <wsdl:output message="tns:SeleccionarAutosEcuadorPorTipoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SWAutosECSoap" type="tns:SWAutosECSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarAutosChev">
      <soap:operation soapAction="http://tempuri.org/SeleccionarAutosChev" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarAutosEcuadorPorTipo">
      <soap:operation soapAction="http://tempuri.org/SeleccionarAutosEcuadorPorTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWAutosECSoap12" type="tns:SWAutosECSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarAutosChev">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarAutosChev" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarAutosEcuadorPorTipo">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarAutosEcuadorPorTipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWAutosEC">
    <wsdl:port name="SWAutosECSoap" binding="tns:SWAutosECSoap">
      <soap:address location="https://localhost:44361/SWAutosEC.asmx" />
    </wsdl:port>
    <wsdl:port name="SWAutosECSoap12" binding="tns:SWAutosECSoap12">
      <soap12:address location="https://localhost:44361/SWAutosEC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>