Practicas/IntegracionSI_BD_Empresa/Web References/SWcliente/SWclientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionarClientes">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarClientesResult" type="tns:ArrayOfClientes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClientes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Clientes" nillable="true" type="tns:Clientes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Clientes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cedula" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SeleccionarClientesPorCedula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cedula" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarClientesPorCedulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarClientesPorCedulaResult" type="tns:Clientes" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarClientes" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesPorCedulaSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesPorCedula" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesPorCedulaSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesPorCedulaResponse" />
  </wsdl:message>
  <wsdl:portType name="SWclientesSoap">
    <wsdl:operation name="SeleccionarClientes">
      <wsdl:input message="tns:SeleccionarClientesSoapIn" />
      <wsdl:output message="tns:SeleccionarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesPorCedula">
      <wsdl:input message="tns:SeleccionarClientesPorCedulaSoapIn" />
      <wsdl:output message="tns:SeleccionarClientesPorCedulaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SWclientesSoap" type="tns:SWclientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarClientes">
      <soap:operation soapAction="http://tempuri.org/SeleccionarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesPorCedula">
      <soap:operation soapAction="http://tempuri.org/SeleccionarClientesPorCedula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWclientesSoap12" type="tns:SWclientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarClientes">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesPorCedula">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarClientesPorCedula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWclientes">
    <wsdl:port name="SWclientesSoap" binding="tns:SWclientesSoap">
      <soap:address location="https://localhost:44376/SWclientes.asmx" />
    </wsdl:port>
    <wsdl:port name="SWclientesSoap12" binding="tns:SWclientesSoap12">
      <soap12:address location="https://localhost:44376/SWclientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>