SOAP-RentaPeliculas/FrontRentaPeliculas/Web References/SWClientes/SWClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SeleccionarCliente">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarClienteResult" type="tns:ArrayOfCLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCLIENTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CLIENTE" nillable="true" type="tns:CLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CLIENTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MEMBRESIA" type="tns:MEMBRESIA" />
          <s:element minOccurs="0" maxOccurs="1" name="FICHARENTA" type="tns:ArrayOfFICHARENTA" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRECLI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEDULACLI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAILCLI" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MEMBRESIA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE1" type="tns:CLIENTE" />
          <s:element minOccurs="0" maxOccurs="1" name="MEMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHAREGMEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHAEXOMEM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFICHARENTA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FICHARENTA" nillable="true" type="tns:FICHARENTA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FICHARENTA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:CLIENTE" />
          <s:element minOccurs="0" maxOccurs="1" name="PELICULA" type="tns:PELICULA" />
          <s:element minOccurs="0" maxOccurs="1" name="RENTID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PELIID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHAREGRENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHADEVRENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHAENTRENT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PELICULA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FICHARENTA" type="tns:ArrayOfFICHARENTA" />
          <s:element minOccurs="0" maxOccurs="1" name="PELIID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBREPELI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIRECTORPELI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GENEROPELI" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SeleccionarClientePorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarClientePorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarClientePorIDResult" type="tns:CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli" type="tns:CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActualizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli" type="tns:CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli" type="tns:CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarClientesDef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarClientesDefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarClientesDefResult" type="tns:ArrayOfCLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarClientesSP">
        <s:complexType />
      </s:element>
      <s:element name="SeleccionarClientesSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarClientesSPResult" type="tns:ArrayOfSeleccionarClientes_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSeleccionarClientes_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SeleccionarClientes_Result" nillable="true" type="tns:SeleccionarClientes_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SeleccionarClientes_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CLIID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRECLI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEDULACLI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAILCLI" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SeleccionarClientesSPorNombreDef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SeleccionarClientesSPorNombreDefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SeleccionarClientesSPorNombreDefResult" type="tns:ArrayOfCLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SeleccionarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarCliente" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientePorIDSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarClientePorID" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientePorIDSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarClientePorIDResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCliente" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="ActualizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="EliminarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesDefSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesDef" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesDefSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesDefResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesSPSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesSP" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesSPSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesSPResponse" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesSPorNombreDefSoapIn">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesSPorNombreDef" />
  </wsdl:message>
  <wsdl:message name="SeleccionarClientesSPorNombreDefSoapOut">
    <wsdl:part name="parameters" element="tns:SeleccionarClientesSPorNombreDefResponse" />
  </wsdl:message>
  <wsdl:portType name="SWClientesSoap">
    <wsdl:operation name="SeleccionarCliente">
      <wsdl:input message="tns:SeleccionarClienteSoapIn" />
      <wsdl:output message="tns:SeleccionarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientePorID">
      <wsdl:input message="tns:SeleccionarClientePorIDSoapIn" />
      <wsdl:output message="tns:SeleccionarClientePorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <wsdl:input message="tns:InsertarClienteSoapIn" />
      <wsdl:output message="tns:InsertarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input message="tns:ActualizarClienteSoapIn" />
      <wsdl:output message="tns:ActualizarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input message="tns:EliminarClienteSoapIn" />
      <wsdl:output message="tns:EliminarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesDef">
      <wsdl:input message="tns:SeleccionarClientesDefSoapIn" />
      <wsdl:output message="tns:SeleccionarClientesDefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesSP">
      <wsdl:input message="tns:SeleccionarClientesSPSoapIn" />
      <wsdl:output message="tns:SeleccionarClientesSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesSPorNombreDef">
      <wsdl:input message="tns:SeleccionarClientesSPorNombreDefSoapIn" />
      <wsdl:output message="tns:SeleccionarClientesSPorNombreDefSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SWClientesSoap" type="tns:SWClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarCliente">
      <soap:operation soapAction="http://tempuri.org/SeleccionarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientePorID">
      <soap:operation soapAction="http://tempuri.org/SeleccionarClientePorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap:operation soapAction="http://tempuri.org/InsertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesDef">
      <soap:operation soapAction="http://tempuri.org/SeleccionarClientesDef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesSP">
      <soap:operation soapAction="http://tempuri.org/SeleccionarClientesSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesSPorNombreDef">
      <soap:operation soapAction="http://tempuri.org/SeleccionarClientesSPorNombreDef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWClientesSoap12" type="tns:SWClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarCliente">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientePorID">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarClientePorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap12:operation soapAction="http://tempuri.org/InsertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap12:operation soapAction="http://tempuri.org/EliminarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesDef">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarClientesDef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesSP">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarClientesSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarClientesSPorNombreDef">
      <soap12:operation soapAction="http://tempuri.org/SeleccionarClientesSPorNombreDef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWClientes">
    <wsdl:port name="SWClientesSoap" binding="tns:SWClientesSoap">
      <soap:address location="https://localhost:44373/SWClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="SWClientesSoap12" binding="tns:SWClientesSoap12">
      <soap12:address location="https://localhost:44373/SWClientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>